<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>Django Polls App</title>
</head>
<body>
    <header>
        <h2 class="logo">
            <a href="/polls/">django Polls</a>
        </h2>
        <ul>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">contact</a>
            </li>
        </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <small>created with love by <a href="#">ecodes</a></small>
    </footer>
</body>
</html>